<nav class="navbar">
    <div class="logo">
        <div class="logo-text">فضا نگار</div>
    </div>
    
    <ul class="nav-links" id="nav-links">
        <li><a href="{% url 'home' %}">خانه</a></li>
        {% comment %} <li><a href="{% url 'blog' %}">وبلاگ</a></li> {% endcomment %}
        <li><a href="{% url 'neows' %}">اجرام نزدیک به زمین</a></li>
        <li><a href="#">اطلاعات زنده</a></li>
        <li><a href="#">درباره ما</a></li>
        <li><a href="#">تماس با ما</a></li>
    </ul>
    
    <div class="nav-actions">
        <div class="theme-toggle" id="theme-toggle">
            <div class="toggle-thumb"></div>
        </div>
        
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>