{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>فضا {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/space.css' %}">
        {% block css %}{% endblock css %}
    </head>
    <body>
        {% block content %}

        {% endblock content %}

        {% comment %} <script src="{% static 'js/space.js' %}"></script> {% endcomment %}
        <script src="{% static 'js/header.js' %}"></script>
        {% block script %}
        
        {% endblock script %}
    </body>
</html>

